body{
    background-color : #006254 ; 
}
#join-form{
   
    height : 80vh !important  ;
    z-index : 99 !important ;
}
.button-group{
    position : absolute !important ; 
    bottom : 1% !important;
    left : 50% !important; 
    transform: translate(-60%,-50%);
    background-color: #052a25 ; 
    border-width: 1px;
    border-color: #0e4b35;
    border-radius: 10px; 
    border-style: solid;
    padding :0  1.2rem ;
}


#leave,#mute{
    background-color: transparent;
    border-color: transparent;
    outline: none;
    margin : 0 0.5rem ;
}


#leave img{
    width : 3rem ; 
    height : 3rem ; 
    opacity : 1 !important ;
}
#mute img{
    width : 3.3rem ; 
    height : 3.3rem ; 
    opacity : 1 !important ;
}

#doctor_image{
    width : 60% ;
}

.blocks-container{
    position : absolute ; 
    width : 50% ;
    height : 40% ;
    top : 40% ; 
    left : 60% ;
    transform: translate(-50%,-50%);

}

.buttons-container button{
    display:inline-block !important ;
    margin : 1.5rem ;
    padding : 0.7rem ;
    border-radius: 6px;
    border-color: lightgrey !important;
    outline : none ;
    
}

#join_consultation_btn{
    background-color:  #22515f;
    color : white ; 
}

#leave_consultation_btn{
    background-color: rgb(173, 29, 29);
    color : white ; 
}

.buttons-container{
    position  : absolute ; 
    right : 50% ; 
    transform: translateX(10%);
}




#remote-playerlist,.l-wrapper{
    

    display:inline-block !important ; 
    margin-top : 2rem 0 ;
    width : 45% ;
}


.col {
    width : 40% ; 
}

.player-name,#local-player-name{
    font-weight: bold ;
    margin : 0.5rem 0 ;
    color : white ;  
}

nav{
    margin-bottom : 4rem !important;
}